body {
    font-family: Verdana, sans-serif;
    overflow-y: scroll;
    margin: 8px 0;
}

/* Updated selection styles with more subtle colors */
::selection {
    color: #485a74;
    background: #95a5ac40;
}

::-moz-selection {
   color: #485a74;
    background: #95a5ac40;
}

.dark ::selection {
    color: rgb(214, 211, 209); /* Keeping close to dark mode text color */
    background: rgba(235, 153, 161, 0.15); /* Much lighter background */
}

.dark ::-moz-selection {
    color: rgb(214, 211, 209);
    background: rgba(235, 153, 161, 0.15); /* Same for Firefox */
}

time,
div {
    color: rgb(var(--color-text-heading));
}

.panda-link-static {
    cursor: pointer;
    text-decoration: none;
    color: rgb(var(--color-text-link));
}

.panda-link-static:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(var(--color-text-link-hover));
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 5px;
}

.panda-link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(var(--color-text-link));
}

.panda-link:hover {
    color: rgb(var(--color-text-link-hover));
}

a.animated {
    --animated-underline-from: rgb(var(--color-text-link));
    --animated-underline-to: rgb(var(--color-text-link));
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
}

a.animated:after {
    left: 0px;
    right: 0px;
    bottom: -4px;
    content: '';
    height: 2px;
    width: auto;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.25s ease-in-out;
    background-image: linear-gradient(to right, var(--animated-underline-from), var(--animated-underline-to));
}

a.animated:hover:after {
    transform: translateZ(0) scale(1);
}

a.animated.active:after {
    transform: translateZ(0) scale(1);
}

.max-width {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
}

.panda-text {
    cursor: pointer;
    color: rgb(29 78 216);
    text-decoration: none;
}

.panda-text:hover {
    color: rgb(29 78 216);
    text-decoration: underline;
    text-underline-offset: 4px;
}

.dark .panda-text,
.dark .panda-text:hover {
    color: rgb(245 245 244);
}


:root {
    /* blue */
    /*--color-primary-main: 37 99 235;*/
    /*--color-secondary-main: 24 79 196;*/

    /*green*/
    --color-primary-main: 29 116 132;
    --color-secondary-main: 20 79 90;

    --color-text-body: 55 65 81;
    --color-text-heading: 55 65 81;
    --color-text-link: var(--color-primary-main);
    --color-text-link-hover: var(--color-secondary-main);
    --color-border: var(--color-primary-main);

    scroll-behavior: smooth;
}

:root.dark {
    color-scheme: dark;
    --color-primary-main: 235 153 161; /* #eb99a1 */
    --color-secondary-main: 226 111 122; /* #e26f7a */
    /*--color-primary-main: 138 92 245; !* #eb99a1 *!*/
    /*--color-secondary-main:168 130 255; !* #e26f7a *!*/
    --color-text-body: 214 211 209;
    --color-text-heading: 200 200 200;
    --color-text-link: var(--color-primary-main);
    --color-text-link-hover: var(--color-secondary-main);
    --color-border: var(--color-primary-main);

}
